{{#if success_msg}}
<div class="d-flex d-flex justify-content-center">
  <div class="alert alert-primary col-3 d-flex justify-content-center" role="alert">
    {{success_msg}}
  </div>

</div>

{{/if}}

{{#if error_msg}}
<div class="d-flex d-flex justify-content-center">
  <div class="alert alert-danger col-3 d-flex justify-content-center" role="alert">
    {{error_msg}}
  </div>

</div>

{{/if}}