<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My restaurant list</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
</head>

<body>

  

  {{{body}}}


  <script src="/formValidation.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>

</body>

</html>